RewriteEngine on
<IFModule mod_rewrite.c>
Options +FollowSymlinks
RewriteBase /
RewriteCond %{HTTP_HOST} local.scrobber\.com
RewriteRule ^(.*) http://local.kuhire.com/$1 [L,QSA]
</IfModule>

RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L,QSA]